name: Docker publish

on:
  push:
    branches:
      - master

jobs:
  docker_build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Docker login
        run: docker login -u ${{ secrets.DOCKER_USER }} -p ${{ secrets.DOCKER_PASSWORD }}
      - name: Build Docker 7.4 image
        run: cd 7.4/cli && docker build -t 7.4 .
      - name: Build Docker 7.4-fpm image
        run: cd 7.4/fpm && docker build -t 7.4-fpm .
      - name: Tags 7.4
        run: |
          docker tag 7.4 ${{ secrets.DOCKER_USER }}/laravel:7.4
      - name: Publish Docker 7.4 image
        run: |
          docker push ${{ secrets.DOCKER_USER }}/laravel:7.4
      - name: Tags latest
        run: |
          docker tag 7.4 ${{ secrets.DOCKER_USER }}/laravel:latest
      - name: Publish Docker latest image
        run: |
          docker push ${{ secrets.DOCKER_USER }}/laravel:latest
      - name: Tags 7.4-fpm
        run: |
          docker tag 7.4-fpm ${{ secrets.DOCKER_USER }}/laravel:7.4-fpm
      - name: Publish Docker 7.4-fpm image
        run: |
          docker push ${{ secrets.DOCKER_USER }}/laravel:7.4-fpm
