name: Docker publish

on:
  push:
    branches:
      - master

jobs:
  docker_build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Docker login
        run: docker login -u ${{ secrets.DOCKER_USER }} -p ${{ secrets.DOCKER_PASSWORD }}
      - name: Build Docker 7.3 image
        run: cd 7.3/cli && docker build -t 7.3 .
      - name: Build Docker 7.3-fpm image
        run: cd 7.3/fpm && docker build -t 7.3-fpm .
      - name: Tags 7.3
        run: |
          docker tag 7.3 ${{ secrets.DOCKER_USER }}/laravel:7.3
      - name: Publish Docker 7.3 image
        run: |
          docker push ${{ secrets.DOCKER_USER }}/laravel:7.3
      - name: Tags 7.3-fpm
        run: |
          docker tag 7.3-fpm ${{ secrets.DOCKER_USER }}/laravel:7.3-fpm
      - name: Publish Docker 7.3-fpm image
        run: |
          docker push ${{ secrets.DOCKER_USER }}/laravel:7.3-fpm
